{% extends  'base.html' %}
{% load static %}
{% block titulo %}Noticias{% endblock titulo%}
{% block contenido %}
    <h2>Aca estan las noticias</h2>
    <form method="get" action="{% url 'noticias:listar'%}">
        <select name="id">
            <option value="">Todas</option>
            {% for cat in categorias %}
                <option value="{{cat.pk}}">{{cat.nombre}}</option>
            {% endfor %}
        </select>
        
        <select name="antiguedad">
            <option value="">Ordenar por Antigüedad</option>
            <option value="asc">Más antiguas primero</option>
            <option value="desc">Más recientes primero</option>
        </select>
        
        <select name="orden">
            <option value="">Ordenar alfabéticamente</option>
            <option value="asc">A - Z</option>
            <option value="desc">Z - A</option>
        </select>
        
        <input type="submit" value="Filtrar">
    </form> 
    {% for noticia in noticias %}
    <a href="{% url 'noticias:detalle' noticia.id%}">{{noticia.titulo}}</a>
    <br>
    <img src="{{noticia.imagenes.url}}" width="10%">
    <br>
    <br>
    {% endfor %}
{% endblock contenido %} 